<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swagios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02E6CC3C1BAE2D25004A7155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02E6CC501BAE2D26004A7155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02E6CC5B1BAE2D26004A7155</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
